.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  width: 225px;
}

label {
  margin-bottom: 10px;
}

.inputName {
  margin-left: 28px;
}

.inputNumber {
  margin-left: 12px;
}

button {
  padding: 5px;
}
